/.github         export-ignore
/doc             export-ignore
/grammar         export-ignore
/test            export-ignore
/test_old        export-ignore
/tools           export-ignore
.editorconfig    export-ignore
.gitattributes   export-ignore
.gitignore       export-ignore
CHANGELOG.md     export-ignore
CONTRIBUTING.md  export-ignore
phpunit.xml.dist export-ignore
UPGRADE-*.md     export-ignore
