language: php

sudo: false

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - nightly
  - hhvm

install: composer install --prefer-source

matrix:
  allow_failures:
    - php: nightly
  fast_finish: true

script: vendor/bin/phpunit