parameters:
	ignoreErrors:
		-
			message: "#^Unary operation \"~\" on mixed results in an error\\.$#"
			count: 1
			path: lib/PhpParser/ConstExprEvaluator.php

		-
			message: "#^Call to function assert\\(\\) with false will always evaluate to false\\.$#"
			count: 1
			path: lib/PhpParser/Lexer/Emulative.php

		-
			message: "#^Unary operation \"\\+\" on string results in an error\\.$#"
			count: 1
			path: lib/PhpParser/Lexer/TokenEmulator/NumericLiteralSeparatorEmulator.php

		-
			message: "#^Access to an undefined property PhpParser\\\\Node\\:\\:\\$attrGroups\\.$#"
			count: 1
			path: lib/PhpParser/NodeVisitor/NameResolver.php

		-
			message: "#^Access to an undefined property PhpParser\\\\Node\\:\\:\\$name\\.$#"
			count: 1
			path: lib/PhpParser/NodeVisitor/NameResolver.php

		-
			message: "#^Access to an undefined property PhpParser\\\\Node\\:\\:\\$namespacedName\\.$#"
			count: 1
			path: lib/PhpParser/NodeVisitor/NameResolver.php

		-
			message: "#^Method PhpParser\\\\NodeVisitor\\\\NodeConnectingVisitor\\:\\:beforeTraverse\\(\\) should return array\\<PhpParser\\\\Node\\>\\|null but return statement is missing\\.$#"
			count: 1
			path: lib/PhpParser/NodeVisitor/NodeConnectingVisitor.php

		-
			message: "#^Method PhpParser\\\\NodeVisitor\\\\NodeConnectingVisitor\\:\\:enterNode\\(\\) should return array\\<PhpParser\\\\Node\\>\\|int\\|PhpParser\\\\Node\\|null but return statement is missing\\.$#"
			count: 1
			path: lib/PhpParser/NodeVisitor/NodeConnectingVisitor.php

		-
			message: "#^Method PhpParser\\\\NodeVisitor\\\\NodeConnectingVisitor\\:\\:leaveNode\\(\\) should return array\\<PhpParser\\\\Node\\>\\|int\\|PhpParser\\\\Node\\|null but return statement is missing\\.$#"
			count: 1
			path: lib/PhpParser/NodeVisitor/NodeConnectingVisitor.php

		-
			message: "#^Method PhpParser\\\\NodeVisitor\\\\ParentConnectingVisitor\\:\\:beforeTraverse\\(\\) should return array\\<PhpParser\\\\Node\\>\\|null but return statement is missing\\.$#"
			count: 1
			path: lib/PhpParser/NodeVisitor/ParentConnectingVisitor.php

		-
			message: "#^Method PhpParser\\\\NodeVisitor\\\\ParentConnectingVisitor\\:\\:enterNode\\(\\) should return array\\<PhpParser\\\\Node\\>\\|int\\|PhpParser\\\\Node\\|null but return statement is missing\\.$#"
			count: 1
			path: lib/PhpParser/NodeVisitor/ParentConnectingVisitor.php

		-
			message: "#^Method PhpParser\\\\NodeVisitor\\\\ParentConnectingVisitor\\:\\:leaveNode\\(\\) should return array\\<PhpParser\\\\Node\\>\\|int\\|PhpParser\\\\Node\\|null but return statement is missing\\.$#"
			count: 1
			path: lib/PhpParser/NodeVisitor/ParentConnectingVisitor.php

		-
			message: "#^Access to undefined constant static\\(PhpParser\\\\ParserAbstract\\)\\:\\:T_AMPERSAND_FOLLOWED_BY_VAR_OR_VARARG\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php

		-
			message: "#^Access to undefined constant static\\(PhpParser\\\\ParserAbstract\\)\\:\\:T_AMPERSAND_NOT_FOLLOWED_BY_VAR_OR_VARARG\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php

		-
			message: "#^Access to undefined constant static\\(PhpParser\\\\ParserAbstract\\)\\:\\:T_ATTRIBUTE\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php

		-
			message: "#^Access to undefined constant static\\(PhpParser\\\\ParserAbstract\\)\\:\\:T_COALESCE_EQUAL\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php

		-
			message: "#^Access to undefined constant static\\(PhpParser\\\\ParserAbstract\\)\\:\\:T_ECHO\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php

		-
			message: "#^Access to undefined constant static\\(PhpParser\\\\ParserAbstract\\)\\:\\:T_ENUM\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php

		-
			message: "#^Access to undefined constant static\\(PhpParser\\\\ParserAbstract\\)\\:\\:T_FN\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php

		-
			message: "#^Access to undefined constant static\\(PhpParser\\\\ParserAbstract\\)\\:\\:T_MATCH\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php

		-
			message: "#^Access to undefined constant static\\(PhpParser\\\\ParserAbstract\\)\\:\\:T_NAME_FULLY_QUALIFIED\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php

		-
			message: "#^Access to undefined constant static\\(PhpParser\\\\ParserAbstract\\)\\:\\:T_NAME_QUALIFIED\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php

		-
			message: "#^Access to undefined constant static\\(PhpParser\\\\ParserAbstract\\)\\:\\:T_NAME_RELATIVE\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php

		-
			message: "#^Access to undefined constant static\\(PhpParser\\\\ParserAbstract\\)\\:\\:T_NULLSAFE_OBJECT_OPERATOR\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php

		-
			message: "#^Access to undefined constant static\\(PhpParser\\\\ParserAbstract\\)\\:\\:T_PAAMAYIM_NEKUDOTAYIM\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php

		-
			message: "#^Access to undefined constant static\\(PhpParser\\\\ParserAbstract\\)\\:\\:T_READONLY\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php

		-
			message: "#^Unary operation \"\\+\" on string results in an error\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php

		-
			message: "#^Variable \\$action might not be defined\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php

		-
			message: "#^Variable \\$tokenValue might not be defined\\.$#"
			count: 1
			path: lib/PhpParser/ParserAbstract.php
