<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" backupGlobals="false" colors="true" beStrictAboutTestsThatDoNotTestAnything="false" bootstrap="./test/bootstrap.php" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="PHPParser Test Suite">
      <directory>./test/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./lib/PhpParser/</directory>
    </include>
  </source>
</phpunit>
