<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="./test/bootstrap.php">
    <testsuites>
        <testsuite name="PHPParser Test Suite">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib/PhpParser/</directory>
        </whitelist>
    </filter>
</phpunit>
